body {
   background-color: #d9d9d9;
   color: #0b3c5d;
   text-align: center;
   font: arial, sans-serif;
   width: 100%;  
}

.hidden {

}

table{
   width: 100%;  
   padding: 2%;  
   text-align: center;  
}
