body {
    background-image: url("BackgroundImage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
    
    font-family: verdana;
    font-size: 20px;
}

table {
    border-collapse: collapse;  
    width: 100%;  
    table-layout:fixed;  
}

th, td {
    text-align: left;  
    border-bottom: 1px solid # ddd;  
}

.col-Large{
    width: 60%;
}

.col-Small {
    width: 40%;
}


select {
    text-align-last: center;
}

.selectors {
     appearance: none;  
     background-color: #f0ebf4;  
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}