body {
    background-image: url("BackgroundImage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
    
    font-family: verdana;
    font-size: 20px;
}

table {
    border-collapse: collapse;  
    width: 100%;  
    table-layout:fixed;  
}

th, td {
    padding: 8px;  
    text-align: center;  
    border-bottom: 1px solid # ddd;  
    width: 100%;
}

.col-Large{
    
}

.col-Small {
    
}

button {
    width: 100%;  
}

.button {
  display: inline-block;
  padding: 20px;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #47adc6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(0,0,0,0.2);
}

.button:hover {background-color:  #4f9bad}

.button:active {
  background-color: #4f9bad;
  box-shadow: 0 5px rgba(0,0,0,0.2);
  transform: translateY(4px);
}

select {
    text-align-last: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;  

    font-size: 23px;  
    padding: 20px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    overflow:hidden; 
    white-space:pre; 
    text-overflow:ellipsis;
}

.parks {
     background-color: #906daf;  
     color: #fff;
}

.lands {
     background-color: #e87a06;  
     color: #fff;
}

.attractions {
     background-color: #71bca3;  
     color: #fff;
}