body {
    background-image: url("BackgroundImage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
}

p {
    font-family: verdana;
    font-size: 20px;
}